<div class="container marketing">
  <div class="col-md-12" style="margin-top: 80px; text-align: center;">
    <h1 class="featurette-heading fw-normal lh-1">入会について</h1>
  </div>
  <div class="row" style="margin-top: 40px;">
  </div>

  <hr class="featurette-divider" style="margin-top: 40px;">

  <div class="row featurette">
    <div class="col-md-12">
      <h2 class="featurette-heading fw-normal lh-1">入会までの流れ</h2>
      <p class="lead"><br>
        1.見学・体験申し込みフォームに回答。<br><br>
        2.対象の日が近づいたらこちらから連絡いたします。<br><br>
        3.実際のサークルの雰囲気を感じていただく。<br>
        （予め各種資料や当ウェブサイトを確認頂きますとスムーズです）<br><br>
        4.各種資料を確認。（下記のリンクから確認できます）<br><br>
        5.入会フォームを別途案内するので回答して入会。<br>
        
        </p>
    </div>
    
  <hr class="featurette-divider" style="margin-top: 40px;">

<div class="col-md-12">
  <h2 class="featurette-heading fw-normal lh-1">体験・見学可能日</h2>
  <%# 元の記載はdrill.rbに %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">日付</th>
        <th scope="col">開始</th>
        <th scope="col">終了</th>
        <th scope="col">場所</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>9月22日(日)</td>
          <td>14:00</td>
          <td>17:00</td>
          <td>スタジオバース 倉敷  黄スタジオ</td>
          
        </tr>
    </tbody>
  </table>
  <% if user_signed_in? %>
      <%= link_to '登録', new_event_path, class: 'btn btn-primary' %>
<% end %>
</div>


  <hr class="featurette-divider" style="margin-top: 40px;">


  <div class="row" style="margin-top: 40px;">
    <h2 class="featurette-heading fw-normal lh-1">各種資料・フォーム</h2>
      <p class="lead" ><br>
        こちらの資料や当ウェブサイトでSQUAREの事をより知って頂ければ幸いです。<br>
        その他気になることはお気軽にお問い合わせください。<br>
        入会フォームに回答する前に規約を確認頂くようお願い致します。<br><br>
      </p>

    <div class="col-lg-6" style="margin-top: 10px;">
      <a href="https://drive.google.com/drive/folders/1kGhrDxyw8riVsYW160JzmnE6qzg6LgPx?usp=sharing" class="btn btn-primary btn-lg" role="button">確認資料一覧 &raquo;</a>
    </div>

    <div class="col-lg-6" style="margin-top: 10px;">
  <a href="https://forms.gle/mYNAa8hgcQGmEATr6" class="btn btn-primary btn-lg">
    体験・見学申し込みフォーム &raquo;
  </a>
</div>

  </div>

  <hr class="featurette-divider" style="margin-top: 40px;">

</div>
