<div class="container">
    <div class="chat-container">
      <h1 class="text-center">SQUARE Chat Bot</h1>
      <p class="text-center">SQUAREについて聞きたいことがあったら聞いてください！</p>
      <p class="text-center text-danger">※現在調整中です。まだ適切に返答することができません。</p>


<form id="chat-form">
  <textarea id="prompt" class="form-control" placeholder="Type your message here..."></textarea>
  <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Send</button>
</form>

<div id="response"></div>

<%= javascript_include_tag 'chat' %>
