<div class="album py-5 bg-light">
  <div class="container" style="padding-top: 5rem;">
    <h1 class="featurette-heading fw-normal lh-1">バンド紹介</h1>
    <p class="lead mb-4">SQUARE所属バンドの一覧です。</p>
    <% if @bands.present? %>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <%= render partial: "band", collection: @bands %>
      </div>
    <% else %>
      <p>No bands available.</p>
    <% end %>
    <% if user_signed_in? %>
      <div class="d-flex justify-content-end mt-4">
        <%= link_to "バンド登録", new_band_path, class: "btn btn-primary" %>
      </div>
    <% end %>
    <div class="mb-4" style="margin-top: 50px;">
      <%= link_to gigs_path, class: "btn btn-sm btn-outline-secondary" do %>
        出演イベント一覧はこちらから
      <% end %>
    </div>
  </div>
</div>
