<div class="album py-5 bg-light">
  <div class="container">
    <% if @bands.present? %>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <%= render partial: "band", collection: @bands %>
      </div>
    <% else %>
      <p>No bands available.</p>
    <% end %>
    <% if user_signed_in? %>
      <div class="d-flex justify-content-end mt-4">
        <%= link_to "バンド登録", new_band_path, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
