 <style>
    .flex-container {
      display: flex;
      align-items: center;
    }
    .flex-item {
      margin-right: 20px;
      width: 140px; /* 画像の幅を固定 */
      height: 140px; /* 画像の高さを固定 */
      overflow: hidden;
      border-radius: 10px; /* 画像の角を丸くする */
    }
    .flex-item image {
      width: 100%;
      height: 100%;
      object-fit: cover; /* 画像をコンテナにフィットさせる */
    }
  </style>

<div class="container marketing">
 <div class="col-md-12" style="margin-top: 80px; text-align: center;">
    <h1 class="featurette-heading fw-normal lh-1">SQUAREについて</h1>
  </div>
  <div class="row" style="margin-top: 40px;">
  </div>

  <hr class="featurette-divider" style="margin-top: 30px;">

  <div class="row featurette">
    <div class="col-md-7">
      <h3 class="featurette-heading fw-normal lh-1">コンセプト</h3>
      <h3 class="featurette-heading fw-normal lh-1">"誰でも気軽に入れるアカペラサークル"</h3>
      <p class="lead">
        <br> 岡山にはアカペラに興味がある未経験者がたくさんいたのにアカペラサークルがなかったという設立の経緯から 設立時にこのようなコンセプトを掲げました。<br> コンセプト通りに、未経験者・経験者問わず入会できます。<br> また県外のメンバーもたくさんおります。<br><br> アカペラを始めたい人達がとりあえず集まってくる「広場」のような場所のイメージから「SQUARE」という名前を付けました。
      </p>
    </div>
    <div class="col-md-5">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <image xlink:href="/images/about_image_1.png" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
      </svg>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h3 class="featurette-heading fw-normal lh-1">基本方針</h3>
      <p class="lead">
        <br> SQUAREは出会いの場です。広場に集った人同士が出会うように、SQUAREで出会った人同士でバンドを組んで、基本的に自分たちで練習していくイメージです。<br><br> しかし、初めてアカペラの世界に足を踏み込む方も多くいるので、基礎的な部分の発信や導入段階の手助けを行う仕組みも作っている最中です。<br><br> そして自分たちがパフォーマンスをする場は、みんなで協力して自分たちで作っていくというのもSQUAREの重要な役割と考えています。<br><br>
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <image xlink:href="/images/about_image_2.jpg" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
      </svg>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">活動費・年会費</h2>
      <p class="lead">
        <br> 年会費を 2000円 集めております。<br> （半年毎1000円徴収 前期：11～4月 後期：5～10月）<br><br> 別途、定期活動会に参加する際 800円 頂いております。<br><br> また、遠方の方やライフスタイルの変化など事情により活動しづらくなった場合は休止も選択できます。<br> （年会費無し・定期活動会参加費1500円）<br><br> ご不明点はいつでもお問い合わせください。<br><br>
      </p>
    </div>
    <div class="col-md-5">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <image xlink:href="/images/about_image_7.jpg" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
      </svg>
    </div>
  </div>

  <hr class="featurette-divider">

<div class="col-md-12" style="margin-top: 80px; text-align: center;">
    <h1 class="featurette-heading fw-normal lh-1">主な活動内容</h1>
  </div>
<div class="container">
    <div class="row" style="margin-top: 40px;">
      <div class="col-lg-4" style="margin-bottom: 20px;">
        <div class="flex-container">
          <div class="flex-item">
            <svg class="bd-placeholder-img" width="140" height="140" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
              <title>Placeholder</title>
              <image href="/images/about_image_4.jpg" >
            </svg>
          </div>
          <div>
            <h3 class="fw-normal"><br><br>定期活動会</h3>
            <%= link_to show_1_home_path, class: "btn btn-secondary" do %>
              詳しく知る &raquo;
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-lg-4" style="margin-bottom: 20px;">
        <div class="flex-container">
          <div class="flex-item">
            <svg class="bd-placeholder-img" width="140" height="140" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
              <title>Placeholder</title>
              <image href="/images/about_image_5.jpg" >
            </svg>
          </div>
          <div>
            <h3 class="fw-normal">Okayama<br>Music<br>SQUARE</h3>
            <%= link_to show_2_home_path, class: "btn btn-secondary" do %>
              詳しく知る &raquo;
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-lg-4" style="margin-bottom: 20px;">
        <div class="flex-container">
          <div class="flex-item">
            <svg class="bd-placeholder-img" width="140" height="140" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
              <title>Placeholder</title>
              <image href="/images/about_image_6.jpg">
            </svg>
          </div>
          <div>
            <h3 class="fw-normal">スターター<br>バンド<br>制度</h3>
            <%= link_to show_3_home_path, class: "btn btn-secondary" do %>
              詳しく知る &raquo;
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>