<div class="container marketing">
  <div class="col-md-12" style="margin-top: 80px; text-align: center;">
    <h1 class="featurette-heading fw-normal lh-1">Okayama Music SQUARE</h1>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h3 class="featurette-heading fw-normal lh-1">Okayama Music SQUARE Vol.6 <br>タイムテーブル</h3>
      <p class="lead">
        今回のタイムテーブル公開です！<br><br>


        場所  ハッシュタグ岡山（BRANCH岡山北長瀬内）<br>
        日時  1月18日(土)  13:00～17:40<br><br>

        素敵なバンドがたくさん演奏します♪<br>
        ぜひブランチ岡山までお越しください！<br>
        お買い物のついでなどに立ち寄って頂けると嬉しいです！<br><br>

        アカペラだけでなく弾き語りライブもございます<br>
        アカペラを　音楽を<br>
        楽しんでいただけると嬉しいです♪
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <image xlink:href="/images/S__47235116.jpg" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
      </svg>
    </div>
  </div>

  <%# <hr class="featurette-divider">

   <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h3 class="featurette-heading fw-normal lh-1">Okayama Music SQUARE Vol.6 開催決定！</h3>
      <p class="lead">
        開催決定に伴い、出演バンドを募集いたします！<br>
        なんと今回は室内での実施なので雨天決行です！！<br>
        1月ですが暖かいところで歌えます！<br><br>

        開催場所  ハッシュタグ岡山<br>
       （岡山県岡山市北区北長瀬表町2丁目17-80）<br>
        ※BRANCH岡山北長瀬内 JR北長瀬駅から徒歩3分<br><br>

        日時  令和7年1月18日(土)  13時～17時<br>
        （参加バンド数によって前後する可能性がございます）<br><br>
        申込期限  令和6年12月22日(日)<br>
        下記のフォームより申し込みをお願い致します。

        <br>
        アカペラバンドの以外での出演希望の方は<br>
        ヘッダーのSNSリンクよりDMにてご連絡ください。<br>

        <div class="col-lg-6" style="margin-top: 10px;">
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSeR_E6HL9wmo-908_BjkM3Pdu_LpZE27D4HTPd5P1xBl9KwRQ/viewform" class="btn btn-primary btn-lg">
          Okayama Music SQUARE Vol.6 申し込みフォーム&raquo;
          </a>
        </div>
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <image xlink:href="/images/Msukuimage.jpg" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
      </svg>
    </div>
  </div> %>


  <hr class="featurette-divider" style="margin-top: 40px;">

  <div class="row featurette">
    <div class="col-md-7">
      <h3 class="featurette-heading fw-normal lh-1">SQUARE主催のストリートイベント</h3>
      <p class="lead">
        岡山に定期的にアカペラを披露するためのステージが欲しいという思いから始まりました。<br>
        一人でも多くのアカペラや音楽に接点の無い人たちに、シーンを知ってもらうきっかけになって欲しいというのが当イベントの趣旨です。<br><br>

        そのために定期的にストリートで開催する事ににこだわっています。<br><br>

        プレイヤーの方々にも気軽にステージに立てる場としても知ってもらえれば幸いです。
      </p>
    </div>
    <div class="col-md-5">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <image xlink:href="/images/image_2.jpg" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
      </svg>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h3 class="featurette-heading fw-normal lh-1">アカペラだけにこだわらない</h3>
      <p class="lead">
        あくまでアカペラは音楽を楽しむための演奏手法の一つであると考えています。<br>
        よってアカペラ以外の音楽も幅広く募集しています。<br><br>

        アカペラバンドの以外での出演希望の方は<br>
        ヘッダーのSNSリンクよりDMにてご連絡ください。<br><br>

        SQUAREというアカペラサークルをきっかけに色んな音楽シーンが交流する広場のようなイベントになってほしいという想いをイベント名に込めています。<br>
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <image xlink:href="/images/about_image_8.jpg" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
      </svg>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h3 class="featurette-heading fw-normal lh-1">動画で見る</h3>
      <p class="lead">
        これまでのステージをアップしています。<br>
        是非ご覧ください♪<br><br>
      </p>
      <a href="https://www.youtube.com/@square5877/playlists" class="btn btn-primary"style="margin-bottom: 10px;">
        YouTube プレイリスト&raquo;</a>
    </div>
    <div class="col-md-5">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false" style="object-fit: contain;">
        <title>Placeholder</title>
        <image xlink:href="/images/image_4.jpg" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
      </svg>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="col-md-12" style="margin-top: 80px; text-align: center;">
    <h1 class="featurette-heading fw-normal lh-1">主な活動内容</h1>
  </div>

  <div class="row" style="margin-top: 40px;">
    <div class="col-lg-4" style="margin-bottom: 20px;">
      <div class="flex-container">
        <div class="flex-item">
          <svg class="bd-placeholder-img" width="140" height="140" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
            <image href="/images/about_image_4.jpg"></image>
          </svg>
        </div>
        <div>
          <h3 class="fw-normal"><br><br>定期活動会</h3>
          <%= link_to show_1_home_path, class: "btn btn-secondary" do %>
            詳しく知る &raquo;
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-lg-4" style="margin-bottom: 20px;">
      <div class="flex-container">
        <div class="flex-item">
          <svg class="bd-placeholder-img" width="140" height="140" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
            <image href="/images/about_image_1.png" width="100%" height="100%" />
          </svg>
        </div>
        <div>
          <h3 class="fw-normal"><br>SQUARE<br>について</h3>
          <%= link_to about_home_path, class: "btn btn-secondary" do %>
            詳しく知る &raquo;
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-lg-4" style="margin-bottom: 20px;">
      <div class="flex-container">
        <div class="flex-item">
          <svg class="bd-placeholder-img" width="140" height="140" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
            <image href="/images/about_image_6.jpg"></image>
          </svg>
        </div>
        <div>
          <h3 class="fw-normal">スターター<br>バンド<br>制度</h3>
          <%= link_to show_3_home_path, class: "btn btn-secondary" do %>
            詳しく知る &raquo;
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <hr class="featurette-divider">
</div><!-- /.container -->
