<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="col-md-12" style="margin-top: 80px; text-align: center;">
    <h1 class="featurette-heading fw-normal lh-1">定期活動会</h1>
  </div>
  <div class="row" style="margin-top: 40px;">
  </div>

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider" style="margin-top: 40px;">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">毎月開催するメインの活動</h2>
      <p class="lead"><br>
      月に一回集まり、事前に共有した楽譜で歌います。<br>
      同じ楽譜をいろんなチームが歌うイメージです。<br>
      事前に共有した楽譜を使い、バンドはあらかじめ分けておきます。<br>
      当日少し練習して、バンド毎に発表してもらいます。<br><br>
      和気あいあいとアカペラを楽しんでもらっています。<br>
      </p>
    </div>
    <div class="col-md-5">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <image xlink:href="\images\show_1_image.jpg" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
      </svg>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">メンバー同士の顔合わせの場</h2>
      <p class="lead"><br>
      ハモリは二の次で、あくまで顔合わせとフランクにアカペラを楽しむことが目的です。<br><br>      
      参加者の方には毎回お伝えしてます<br>
      「今日は一切ハモらなくてかまいません！」と。<br>
      それくらいの緩いハードルで音楽を楽しんでいただければ幸いです。<br><br>

      これをきっかけに他のメンバーと知り合って、新しくバンドを組むきっかけにしてもらえればと思っています。<br>
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <image xlink:href="\images\show_2_image.jpg" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
      </svg>
    </div>
  </div>

  <hr class="featurette-divider">

    <hr class="featurette-divider" style="margin-top: 40px;">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">見学、体験について</h2>
      <p class="lead"><br>
      入会前に定期活動会にて見学、体験が可能です。<br>
      見学は無料、体験は800円となっております（原則1回のみ）<br><br>
      
      開催の日時場所などは月によって替わるので都度お問い合わせください。
      <br>
      
      問い合わせについては
      <%= link_to about_home_path do %>こちらのページ<% end %>
      の下部から公式LINEを友達追加してください。<br>
      </p>
    </div>
    <div class="col-md-5">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <image xlink:href="/images/about_image_5.jpg" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
      </svg>
    </div>
  </div>

<!-- Three columns of text below the carousel -->
  <div class="col-md-12" style="margin-top: 80px; text-align: center;">
    <h1 class="featurette-heading fw-normal lh-1">主な活動内容</h1>
  </div>
  <div class="row" style="margin-top: 40px;">
    <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <image href="/images/about_image_1.png" width="100%" height="100%" />
      </svg>
      <h3 class="fw-normal">SQUAREについて</h3>
      <%= link_to about_home_path, class: "btn btn-secondary" do %>
        詳しく知る &raquo;
      <% end %>
    </div>
    <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <image href="/images/about_image_5.jpg" width="100%" height="100%" />
      </svg>
      <h3 class="fw-normal">Okayama Music SQUARE</h3>
      <%= link_to show_2_home_path, class: "btn btn-secondary" do %>
        詳しく知る &raquo;
      <% end %>
    </div>
    <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <image href="/images/about_image_6.jpg" width="100%" height="100%" />
      </svg>
      <h3 class="fw-normal">スターターバンド・アシスト制度</h3>
      <%= link_to show_3_home_path, class: "btn btn-secondary" do %>
        詳しく知る &raquo;
      <% end %>
    </div>
  </div>

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

</div><!-- /.container -->