<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <p class="card-text">LeeさんWS@24年11月</p>
            <div class="d-flex justify-content-between align-items-center">
             <div class="btn-group">
                <a href="https://www.youtube.com/playlist?list=PLzago6UsCqmTwSAficfa4hW28TT7TsbP0" class="btn btn-sm btn-outline-secondary" target="_blank" role="button">
                  もっと見る &raquo;
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <p class="card-text">LeeさんWS@23年6月</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://www.youtube.com/playlist?list=PLzago6UsCqmSz7mHW87ociKg6EpgTTmjP" class="btn btn-sm btn-outline-secondary" target="_blank" role="button">
                  もっと見る &raquo;
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>