  <div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="col-md-10" style="margin-top: 80px; text-align: center;">
    <h2 class="featurette-heading fw-normal lh-1">主な活動内容</h2>
</div>
    <div class="row"  style="margin-top: 40px;">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
        <h3 class="fw-normal">定期活動会</h3>
        <p><a class="btn btn-secondary" href="#">詳しく知る &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
        <h3 class="fw-normal">Okayama Music SQUARE</h2>
        <p><a class="btn btn-secondary" href="#">詳しく知る &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
        <h3 class="fw-normal">スターターバンド・アシスト制度</h3>
        <p><a class="btn btn-secondary" href="#">詳しく知る &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->



    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider" style="margin-top: 40px;">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">コンセプト</h2>
        <h2 class="featurette-heading fw-normal lh-1">誰でも気軽に入れるアカペラサークル</h2>
        <p class="lead"><br>
          岡山にはアカペラに興味がある未経験者がたくさんいたのにアカペラサークルがなかったという設立の経緯から
          設立時にこのようなコンセプトを掲げました。<br>
          コンセプト通りに、未経験者・経験者問わず入会できます。<br>
          また県外のメンバーもたくさんおります。<br><br>
          アカペラを始めたい人達がとりあえず集まってくる「広場」のような場所のイメージから「SQUARE」という名前を付けました。

        </p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">基本方針</h2>
        <p class="lead"><br>
        SQUAREは出会いの場です。広場に集った人同士が出会うように、SQUAREで出会った人同士でバンドを組んで、基本的に自分たちで練習していくイメージです。<br><br>
        しかし、初めてアカペラの世界に足を踏み込む方も多くいるので、基礎的な部分の発信や導入段階の手助けを行う仕組みも作っている最中です。<br><br>
        そして自分たちがパフォーマンスをする場は、みんなで協力して自分たちで作っていくというのもSQUAREの重要な役割と考えています。<br><br>
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">メッセージ</h2>
        <p class="lead"><br>
          社会人でアカペラを始めたい・続けたいという皆さんの気持ちはアカペラ界において大きな意味があります。<br><br>
          SQUAREを通じて岡山から中四国、さらにはアカペラ界全体をいっしょに盛り上げていきましょう！！
        </p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
