<div class="album py-5 bg-light">
  <div class="container">
    <h1 class="featurette-heading fw-normal lh-1">過去のイベント一覧</h1>
    <% if @gigs.present? %>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <%= render partial: "gig", collection: @gigs, as: :gig %>
      </div>
    <% else %>
      <p>No past gigs available.</p>
    <% end %>
  </div>
</div>
